html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B2B42;
  color: white;
}

main{
  padding: 20px;
  flex: 1 0 auto;
}

p{
  text-align: center;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px
}

label{
  justify-self: end
}

form > p {
  justify-self: center;
  margin: 4px;
  grid-column: span 2;
}

input[placeholder]{
  border: none;
  background-color: #1B2B42;
  border-bottom: 3px solid #144365;
  color: white;
  padding: 2px 5px;
}

input[placeholder]:focus{
  background-color: #1d669a;
  outline: dotted white;
}

input::placeholder{
  color: white;
  font-style: italic;
}

label.checkbox, label.radio{
  position: relative;
  padding-left: 22px;
  place-self: center start; /*for place the grid item*/
  grid-column: 2 / 3;
}

.inp-container{
  grid-column: span 2;
  display: flex;
  justify-content: space-around
}

input[type="checkbox"], input[type="radio"]{
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
}

input[type="checkbox"]:focus + .checkmark,
input[type="radio"]:focus + .checkmark{
  outline: 2px #1BDFCE dashed;
}

label.checkbox > .checkmark{
  position: absolute;
  top: 1px;
  left: 0;
  height: .9em;
  width: .9em;
  background-color: white;
  border-radius: .2em;
}

label.radio > .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: .9em;
  width: .9em;
  background-color: white;
  border-radius: 50%;
}

.checkmark:after{
  content: "";
  display: none;
  position: absolute;
}

label.checkbox:hover input ~ .checkmark,
label.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

label.checkbox input:checked ~ .checkmark,
label.radio input:checked ~ .checkmark {
  background-color: #ccc;
}

label.checkbox input:checked ~ .checkmark:after,
label.radio input:checked ~ .checkmark:after {
  display: block;
}

label.checkbox .checkmark:after{
  left: .3em;
  top: 0;
  width: .3em;
  height: .55em;
  border: solid #1B2B42;
  border-width: 0 .2em .2em 0;
  transform: rotate(45deg);
}

label.radio .checkmark:after {
  top: .2em;
  left: .2em;
  width: .5em;
  height: .5em;
  border-radius: 50%;
  background-color: #1B2B42;
}

textarea:focus{
  outline: dashed #1BDFCE;
}

button {
 color: #1B2B42;
 grid-column: span 2;
 justify-self: center; 
 border: none;
 border-radius: 1.56em;
 min-width: 9.5em;
 height: 2.44em;
 background-color: #B1EFFF;
 font-weight: bold;
 font-size: 1em;
 transition: .5s;
 box-shadow: .375em .19em .5em #266C7E;
 cursor: pointer;
}

button:active{
  transform: scale(.9)
}

button:focus{
  outline: dotted white;
}

button:hover{
  background-color: rgb(144, 195, 207);
}

footer{
  background: linear-gradient(180deg, #2A5694 0%, #1BDFCE 100%);
  width: 100%;
  box-sizing: border-box;
  height: 5em;
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  flex-shrink: 0;
}

footer > p {
  margin: .5em 0;
  font-weight: bold;
}

footer > p a:link {
  text-decoration: underline overline wavy pink;
  color: purple;
}

footer > p a:visited{
  color: #4f1c57;
  text-decoration-color: pink
}

footer > p a:hover{
  color: yellow;
}

/* here come the styles of custom widget */
select{
  position: absolute;
  left: -5000em;
}

.select{
  position: relative;
  display: inline-block;
  font-size: 1em;
  box-sizing: border-box;
  padding : .1em 1.5em .2em .5em;
  width: 7em;
  border-bottom: .2em solid #144365;
}

.select .active, .select:focus{
  outline: none;
  box-shadow: 0 0 3px 3px white;
}

.select .value{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  /* in case that the contet overflows */
  white-space: nowarp;
  text-overflow: ellipsis;
}

svg.dropdown-arrow{
  position: absolute;
  top: 20%;
  right: 5px;
  z-index: 1;
}

.select .optList{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 100%;
  max-height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #1B2B42;
  color: white;
  box-shadow: 0 0 .2em .2em white;
}

.select .optList.hidden{
  max-height: 0;
  visibility: hidden;
}

.select .option{
  padding: .2em .3em
}

.select .highlight {
  background: white;
  color: #1B2B42;
}

svg.background-top{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

svg.background-bot{
  min-height: 100px;
  align-self: flex-end;
}

@media screen and (max-width: 860px){
  h1{
    margin-top: 3em;
  }
}

@media screen and (max-width: 510px){
  form{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, 1r);
    justify-items: center;
    align-items: center;
  }
  label, input, textarea, button, .select, .inp-container{
    grid-row: span 1;
    grid-column: 1 / 1;
    justify-self: center;
  }
  #number-label {
    text-align: center;
  }
  .inp-container{
    flex-direction: column;
  }
  label.checkbox, label.radio{
    place-self: start;
    margin: .3em 0;
  }
}